<!-- add-user.component.html -->
<div class="container">
  <h2>Add User</h2>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-group">
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="password" placeholder="Mots de passe" formControlName="password" required>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput placeholder="Occupation" formControlName="occupation" required>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="email" placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field class="form-group">
      <textarea matInput placeholder="Bio" formControlName="bio" required></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!addUserForm.valid">Add User</button>
  </form>
</div>
