<div style="display: flex; justify-content: space-around; align-items: center">
  <mat-form-field class="example-full-width" style="margin-top: 10px">
    <mat-label>Recherche</mat-label>
    <input matInput [(ngModel)]="filterValue" (input)="applyFilter()" placeholder="Rechercher">
  </mat-form-field>

  <button mat-raised-button color="primary" routerLink="/add">Ajouter un utilisateur</button>

  <button mat-raised-button color="warn" (click)="logout()">Déconnexion</button>
</div>

<mat-table [dataSource]="dataSource" matSort>

  <!-- Nom Column -->
  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
  </ng-container>

  <!-- Occupation Column -->
  <ng-container matColumnDef="occupation">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Occupation</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.occupation }}</mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button routerLink="/user/{{user.id}}">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button routerLink="/update/{{user.id}}">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteUser(user)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
